* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 500px;
  width: 100%;
  background: #2a2a3d;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px #000;
}

h1, h2, h3 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-height: 270px;
  overflow-y: auto;
  margin-bottom: 20px;
}

button {
  flex: 1 1 45%;
  padding: 10px;
  background: #00b894;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e68a00;
}

.result {
  background: #1e1e2f;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}
.history {
    background: #1e1e2f;
    padding: 10px;
    border-radius: 5px;
    max-height: 130px;
    overflow-y: auto;
}